
{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block head_title %}
    {{ post.title }} - Blog
{% endblock %}

{% block main_area %}
    <!-- Post content-->
    <div id="post-area">
        <article>
            <!-- Post header-->
            <header class="mb-4">
                <!-- Post title-->
                <h1 class="fw-bolder mb-1">{{ post.title }}
                    {% if user.is_authenticated and user == post.author %}
                        <a class="btn btn-primary float-end" href="/blog/update_post/{{ post.pk }}" role="button"><i class="fa-solid fa-wrench"></i></a>
                    {% endif %}
                </h1>
                <h5 class="text-muted">{{ post.hook_text }}</h5>

                <!-- ORIGINAL STYLE -->
                <!-- Post meta content-->
                <!-- <div class="text-muted fst-italic mb-2">{{ post.created_at }} by {{ post.author | upper }}</div> -->
                <!-- Post categories-->
                <!-- {% if post.category %}
                    <span class="badge bg-secondary">{{ post.category }}</span>
                {% else %}
                    <span class="badge bg-secondary">미분류</span>
                {% endif %}                 -->

                <!-- ONE LINE STYLE -->
                <div class="card-body">
                    <!-- <div class="container"> -->
                        <!-- <div class="row"> -->
                            <!-- Post meta content-->
                            <div class="col-12 text-muted fst-italic mb-2 g-0">{{ post.created_at }} by {{ post.author | upper }}
                            <!-- <div class='text-muted mb-2 g-0'>{{ post.created_at }} by {{ post.author | upper }} -->
                            <!-- Post categories-->
                            {% if post.category %}
                                <span class="badge bg-secondary float-end" style="font-style:normal;">{{ post.category }}</span>
                            {% else %}
                                <span class="badge bg-secondary float-end" style="font-style:normal;">미분류</span>
                            {% endif %}
                            </div>
                            <!-- <div class="col-4"> -->
                            <!-- {% if post.category %}
                                <span class="badge bg-secondary float-end">{{ post.category }}</span>
                            {% else %}
                                <span class="badge bg-secondary float-end">미분류</span>
                            {% endif %} -->
                            <!-- </div> -->
                        <!-- </div> -->
                    <!-- </div> -->
                </div>
            </header>
            <!-- Preview image figure-->
            {% if post.head_image %}
                <img class="mb-4 img-fluid rounded mx-auto d-block" src="{{ post.head_image.url }}" alt="{{ post.title }} head_image" /></figure>
            {% else %}
                <img class="mb-4 img-fluid rounded mx-auto d-block" src="https://picsum.photos/seed/{{ post.id }}/800/200" alt="random_image"/>
            {% endif %}
            <!-- Post content-->
            <section class="mb-2">
                <p>{{ post.get_content_markdown | safe }}</p>
                
                {% if post.tags.exists %}
                    <i class="fa-solid fa-tags"></i>
                    {% for tag in post.tags.iterator %}
                        <a href="{{ tag.get_absolute_url }}"><span class="badge rounded-pill text-bg-light">{{ tag }}</span></a>
                    {% endfor %}
                    <br/>
                    <br/>
                {% endif %}

                {% if post.file_upload %}
                    <a href="{{ post.file_upload.url }}" button type="button" class="btn btn-outline-primary btn-sm">
                        Download: 
                        {% if post.get_file_ext == 'csv' %}
                            <i class="fa-solid fa-file-csv"></i>
                        {% elif post.get_file_ext == 'xlsx' or post.get_file_ext == 'xls' %}
                            <i class="fa-solid fa-file-excel"></i>
                        {% elif post.get_file_ext == 'docx' or post.get_file_ext == 'doc' %}
                            <i class="fa-solid fa-file-word"></i>
                        {% else %}
                            <i class="fa-solid fa-file"></i>
                        {% endif %}
                        {{ post.get_file_name }}
                    </a>
                {% endif %}
            </section>
        </article>
    </div>
    <!-- Comments section-->
    <div class="mb-5" id="comment-area">
        <section class="mb-5">
            <div class="card bg-light">
                <div class="card-body pb-0 mb-2">
                    <!-- Comment form-->
                    {% if user.is_authenticated %}
                        <form id="comment-form" method="POST" action="{{ post.get_absolute_url }}new_comment/">
                            {% csrf_token %}
                            <div class="form-group mb-2">
                                {{ comment_form | crispy }}
                                <!-- <textarea class="form-control" rows="3"></textarea> -->
                            </div>
                            <div class="mb-2 float-end">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    {% else %}
                        <form id="comment-form" class="mb-4"><textarea class="form-control" rows="3" placeholder="Join the discussion and leave a comment!"></textarea></form>
                        <!-- <form id="comment-form" class="mb-4"><textarea class="form-control" placeholder="Join the discussion and leave a comment!"></textarea></form> -->
                    {% endif %}
                </div>
                    <!-- Comment with nested comments-->
                    <!-- <div class="d-flex mb-4">

                        <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                        <div class="ms-3">
                            <div class="fw-bold">Commenter Name</div>
                            If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks.

                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                </div>
                            </div>

                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">Commenter Name</div>
                                    When you put money directly to a problem, it makes a good headline.
                                </div>
                            </div>
                        </div>
                    </div> -->
                <!-- Single comment-->
                <div class="card-body pt-0">
                    {% if post.comment_set.exists %}
                        {% for comment in post.comment_set.iterator %}
                            <div class="d-flex mb-3" id="comment-{{ comment.pk }}">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold" id="mod-bt">{{ comment.author.username }} &nbsp;&nbsp;<small class="text-muted">{{ comment.created_at }}</small>
                                    {% if user.is_authenticated and comment.author == user %}
                                        <a role="button" class="btn btn-sm btn-secondary rounded-pill" 
                                         style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .65rem;"
                                         id="comment-{{ comment.pk }}-update-btn" href="/blog/update_comment/{{ comment.pk }}/">
                                            <i class="fa-solid fa-wrench"></i>&nbsp;&nbsp;edit
                                        </a>
                                        <a role="button" class="btn btn-sm btn-danger rounded-pill" 
                                        style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .65rem;"
                                        id="comment-{{ comment.pk }}-delete-modal-btn" href="#" data-bs-toggle="modal"
                                        data-bs-target="#deleteCommentModal-{{ comment.pk }}">
                                            <i class="fa-regular fa-trash-can"></i>&nbsp;&nbsp;delete
                                        </a>
                                    {% endif %}
                                    {% if comment.created_at|date:"Y-m-d H:M:S" != comment.modified_at|date:"Y-m-d H:M:S" %}
                                        <p class="text-muted mb-0 fw-lighter fst-italic"><small><small>Updated at: {{ comment.modified_at }}</small></small></p>
                                    {% endif %}
                                    </div>
                                    {{ comment.content | linebreaks }}
                                </div>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="deleteCommentModal-{{ comment.pk }}" tabindex="-1" 
                             aria-labelledby="deleteCommentModalLable" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLable">4 Real?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-lable="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <del>{{ comment | linebreaks }}</del>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <a role="button" class="btn btn-danger" href="/blog/delete_comment/{{ comment.pk }}/">Delete</a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
{% endblock %}